/* Resets */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:focus, button:focus {
	outline: none;
} 
/* END */

body {
	background-color: #fff;
	color: #555559;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 300;
}

h1 {
	font-size: 56px;
}

h3 {
	font-size: 24px;
}

.banner {
	height: 479px;
	background-image: url(bg.png);
	background-repeat: repeat-x;
}

.menu {
	height: 100px;
	box-shadow: 0 4px 3px #edecec;
	position: relative;
}

.nav {
	list-style: none;
}

.nav > li {
	display: inline-block;
}

.nav > li > a {
	display: block;
	text-decoration: none;
	padding: 45px 39px 35px; 
	color: #2e2e2e;
	font-size: 20px;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: #f3f3f3;
	color: #797979;
}

.menu-toggle {
    height: 38px;
    width: 50px;
    float: right;
    margin: 18px;
    border: 2px solid #c6c6c6;
    border-radius: 5px;
    display: none;
    cursor: pointer;
}

.menu-toggle > span {
    height: 2px;
    width: 34px;
    display: block;
    margin: 8px;
    background-color: #c6c6c6;
}


.btn {
	color: #fff;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 6px;
    font-size: 20px;
    padding: 20px 30px;
    text-decoration: none;
}

.btn-primary {
	background-color: #286782;
    border-color: #132c38;  
}

.btn-primary:hover, .btn-primary:focus {
	background-color: #197da9;
    border-color: #1d5069;
}

.img-resp {
	width: 100%;
}

.cta {
	background-color: #fbfafa;
	padding: 115px 15px 170px; 
}

.cta__img {
	display: block;
	margin: auto;
	max-height: 92px;
}

.main {
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.main-reverse {
	-webkit-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

.main__text, .main__img {
	width: 50%;
	box-sizing: border-box;
}

.main__text {
	position: relative;
}

.main__text-left::before {
	content: "";
    position: absolute;
    top: 8%;
    left: 12%;
    width: 5%;
    height: 2px;
    background-color: #84959c;
}

footer {
	min-height: 76px;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	background-color: #efefef;
	border: 2px solid #e9e9e9;
	padding: 15px 10px;
	box-sizing: border-box;
}

.rights {
	float: left;
}

.contact-info {
	float: right;
}

.contact-info > span::after {
	content: ' |';
}

.contact-info > span:last-child::after {
	content: '';
}

.contact-info a {
	text-decoration: none;
	color: #555559;
}

/* Text modifiers */
.text-center {
	text-align: center;
}

.text-up {
	text-transform: uppercase;
}

.semi-bold {
	font-weight: 600;
}

.bold {
	font-weight: 700;
}
/* END */

/* Helpers */
.m-b-35 {
	margin-bottom: 35px;
}

.m-b-3 {
	margin-bottom: 30px;
}

.m-b-8 {
	margin-bottom: 80px;
}

.m-t-15 {
	margin-top: 15px;
}

.p-x-015 {
	padding-left: 15%;
	padding-right: 15%;
}

.p-x-01 {
	padding-left: 10%;
	padding-right: 10%;
}
/* END */

/* Media */
@media (max-width: 800px) {
	.banner {
		display: none;
	}
	.menu {
		height: 80px;
	}
	.menu-collapse {
	    position: absolute;
	    top: 84px;
	    left: 0;
	    right: 0;
	    height: auto;
	    background-color: #f9f9f9;
	    border-bottom: 1px solid #eeeded;
	    display: none;
	}
	.menu-collapse.show {
		display: block;
	}
	.menu-collapse > .nav > li {
		display: block;
	}
	.menu-collapse > .nav > li > a {
		padding: 20px 25px;
		font-size: 18px;
	}
	.menu-toggle {
		display: block;
	}
	.cta {
		padding: 40px 15px;
	}
	.text-left-sm {
		text-align: left;
	}
	h1 {
		font-size: 38px;
	}
	h3 {
		font-size: 16px;
	}
	.btn {
		font-size: 16px;
	}
	.main__text {
		width: 100%;
		font-size: 14px;
	}
	.main__text-left::before {
    top: 6%;
    left: 6%;
    width: 3%;
	}
	.m-y-sm-2 {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.m-b-sm-1 {
		margin-bottom: 10px;
	}
	.m-b-sm-3 {
		margin-bottom: 30px;
	}
	.rights, .contact-info {
		float: none;
	}
}